<div *ngIf="status.status">
  <h1>{{status.username}} ({{status.status.totalPoints}} points)</h1>
  <h3>word levels: {{status.status.wordsKnownByLevel}}</h3>
  <div style="text-align:center;" (click)="swapGraphs()">
    <svg height="100" width="500">
      <polyline *ngFor="let g of status.graphs[graphIndex]"
        [attr.points]="g.pointString" [ngStyle]="g.style" />/>
    </svg>
  </div>
  <p>
    <span *ngFor="let g of status.graphs[graphIndex]" [ngStyle]="{'color':g.color}">
      {{g.name + ": " + g.values.slice(-7).join(" ")}}<br></span>
    latest points: {{status.status.latestPoints}}
  </p>
  <img src="assets/panda.png" width=70>
  <div *ngFor="let set of sets; let s = index">
    <div *ngFor="let dir of set.directions; let d = index">
      {{set.name}} {{dir.name}} ({{status.status.wordsKnownByDirection[s][d]}})
      <button [disabled]="s == 2"
        (click)="new(s,d)">learn new</button>
      <button (click)="review(s,d)" [disabled]="status.status.wordsToReviewByDirection[s][d] < 10">
        review ({{status.status.wordsToReviewByDirection[s][d]}})</button>
    </div>
  </div>
  <br>
  <br>
  <br>
  {{statusText}}<br>
  <button (click)="pushBackReviews()">push back reviews</button>
</div>