<form *ngIf="status.currentQuestion" (ngSubmit)="check()" #answerForm="ngForm" style="padding-left: 30px; padding-right: 50px;">
  <h1 (click)="status.playCurrentWordAudio()">{{status.isAudioQuestion ? "🔊" : status.currentQuestion.question}}</h1>
  <p *ngIf="!status.isAudioQuestion">{{status.currentQuestion.info.join(' | ')}}</p>
  <br>
  <br>
  <input autofocus2 id="answ" name="answ" class="form-control answer-input"
    width="100%" [(ngModel)]="answer" #answ="ngModel"
    [ngStyle]="{'background-color': bgColor}" autocomplete="off">
  <br>
  <br>
  <h4 *ngIf="status.answered">{{status.currentQuestion.fullAnswers}}</h4>
  <h4 *ngIf="status.answered && status.currentQuestion.collection !== 'kanji'">{{status.currentQuestion.otherFields.join(' | ')}}</h4>
  <p *ngIf="status.answered && status.currentQuestion.collection === 'kanji'">{{status.currentQuestion.otherFields.join(' | ')}}</p>
</form>