<div (window:keydown.enter)="next()">
  <h1 (click)="status.playCurrentWordAudio()">{{status.isAudioQuestion ? "🔊" : status.currentQuestion.question}}</h1>
  <br>
  <h2>{{status.currentQuestion.fullAnswers}}</h2>
  <br>
  <h3 *ngIf="status.currentQuestion.collection !== 'kanji'">{{status.currentQuestion.otherFields.join(' | ')}}</h3>
  <p *ngIf="status.currentQuestion.collection === 'kanji'">{{status.currentQuestion.otherFields.join(' | ')}}</p>
  <br>
  <p>{{status.currentQuestion.info.join(' | ')}}</p>
  <br>
  <h4>You answered: {{status.currentAnswerString}}</h4>
</div>