* {
  margin: 0;
  padding: 0;
}

html, body {
  min-height: 100vh;
}

/* override ngdialog theme too.. */
h1, h2, h3, h4, p, body, button, input, select, .ngdialog.ngdialog-theme-default .ngdialog-content {
  font-family: Avenir Next, 'ヒラギノ角ゴ ProN', 'Hiragino Kaku Gothic ProN', sans-serif !important;
  text-align: center;
  font-weight: 200;
  font-size: 16px;
  padding: 5px 10px;
}

h1 { font-size: 400%; }
h2, .answer-input { font-size: 300%; }
h3 { font-size: 200%; }
h4 { font-size: 150%; }

.answer-input { width:100% }

button, input, select {
  -moz-border-radius:12px;
  -webkit-border-radius:12px;
  border-radius:12px;
  border:1px solid #eeeeee;
  display:inline-block;
  background-color: #ffffff;
  /*cursor:pointer;
  padding:5px 5px;*/
}

select {
  -webkit-appearance: none;
}

button:hover {
  background-color:#eeeeee;
}

/**
 * Checkbox Five
 */
.checkboxFive {
  width: 25px;
  margin: 20px 100px;
  position: relative;
}

/**
 * Create the box for the checkbox
 */
.checkboxFive label {
  cursor: pointer;
  position: absolute;
  width: 25px;
  height: 25px;
  top: 0;
  left: 0;
  background: #eee;
  border:1px solid #ddd;
}

/**
 * Display the tick inside the checkbox
 */
.checkboxFive label:after {
  opacity: 0.2;
  content: '';
  position: absolute;
  width: 9px;
  height: 5px;
  background: transparent;
  top: 6px;
  left: 7px;
  border: 3px solid #333;
  border-top: none;
  border-right: none;

  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948; /* green */
}

.ng-invalid:not(form)  {
  border-left: 5px solid #a94442; /* red */
}